
<div id="awesome">
  <%= form_tag upload_path, method: :post, class: 'dropzone', id: 'awesome_file' do %>
    <div class="fallback">
      <%= file_field_tag 'file' %>
    </div>
    <div class="dz-message">
      <h3>Drop Awesome <br>File Here!</h3>
    </div>
  <% end %>
</div>

<div id="report">
</div>
