
<div id="awesome">
  <%= form_tag upload_path, method: :post, class: 'dropzone', id: 'awesome_file' do %>
    <div class="fallback">
      <%= file_field_tag 'file' %>
    </div>
    <div class="dz-message">
      <h3>Drop Awesome <br>File Here!</h3>
    </div>
  <% end %>
  <%= text_field_tag :awesome_url, nil, placeholder: 'Awesome URL...' %>
  <div id="awesome_project" style="margin-top: 1rem; font-size: 10px;">
    <a href="https://lamby.custominktech.com">Powered by Lamby</a>
  </div>
</div>

<div id="report">
</div>
