<!DOCTYPE html>
<html>
  <head>
    <title>AwesomeBotLambda</title>
    <%= csrf_meta_tags unless response.cache_control[:public] %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js"></script>
    <style>
      html, body { margin: 5px; padding: 0; }
      html, body, * { box-sizing: border-box; }
      #awesome {
        float: left;
        width: calc(20vw - 15px);
        font-family: Arial, Helvetica, sans-serif;
      }
      #awesome_file {
        display: flex;
        width: calc(20vw - 15px);
        height: 200px;
        align-items: center;
        justify-content: center;
        position: relative;
        border-radius: 6px;
      }
      #awesome_file .dz-image { display: none; }
      #awesome_file .dz-details { display: none; }
      #awesome_file .dz-error-message { display: none; }
      #awesome_file .dz-success-mark { display: none; }
      #awesome_file .dz-error-mark { display: none; }
      #awesome_file .dz-preview {
        margin: 0;
        width: inherit;
        height: inherit;
      }
      #awesome_file.dz-drag-hover:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url('http://i.giphy.com/urvsFBDfR6N32.gif');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        opacity: 0.3;
      }
      #awesome_url {
        height: 2.5rem;
        width: 100%;
        margin-top: 1rem;
        padding: 0 0.5rem;
        box-sizing: border-box;
        border: 2px solid rgba(0,0,0,0.3);
        border-radius: 3px;
        font-size: 0.8rem;
      }
      #report {
        float: right;
        width: calc(80vw - 15px);
        height: calc(100vh - 20px);
        border: 1px solid #dcdcdc;
        background-color: #f5f5f5;
        unicode-bidi: embed;
        font-family: monospace;
        white-space: pre;
        overflow: scroll;
        padding: 10px;
        border-radius: 6px;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
  <script>
    window.Dropzone.options.awesomeFile = {
      maxFiles: 1,
      createImageThumbnails: false,
      accept: function(file, done) {
        $('#report').empty();
        $('#awesome_url').val('');
        done();
      },
      complete: function(file) {
        const data = JSON.parse(file.xhr.response);
        $('#report').text(data.report);
        $('#awesome_url').val('');
        this.removeAllFiles();
      }
    };
    $('#awesome_url').on('paste', function(e){
      const cb = e.originalEvent.clipboardData || window.clipboardData;
      const token = $('meta[name=csrf-token]').attr('content');
      $.ajax({
        type: "POST",
        url: '/download',
        data: JSON.stringify({ url: cb.getData('Text'), authenticity_token: token }),
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        success: function(data){
          $('#report').text(data.report);
          $('#awesome_url').val('');
        },
        failure: function(error) {
          $('#awesome_url').val('');
        }
      });
    });
  </script>
</html>
